<h1>List of Devices</h1>
<% if @devices && @devices.any? %>
  Devices in red have data with CO levels of over 9 PPM.<br>
  <table class="table">
    <thead><tr>
      <th>Serial Number</th>
      <th>Registration</th>
      <th>Firmware Version</th>
    </tr></thead>
    <% @devices.each do |device| %>
      <% has_co_alert = device.sensor_data.where(co_alert: true).any? %>
      <tr class=<%= 'danger' if has_co_alert%>>
        <td><%= link_to device.serial_number, dashboard_device_path(device.id) %></td>
        <td><%= device.created_at %></td>
        <td><%= device.firmware %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <strong>No devices registered</strong>
<% end %>
