Hey!<br>
<br>
The IP address has changed to: <strong>'<%= @new_ip_address %>'</strong><br>
<% if @previous_address %>
  <br>
  The previous one was '<%= @previous_address %>'<br>
<% end %>
<br>
For more details, go to <a href="https://fathomless-meadow-83773.herokuapp.com/">the heroku app</a><br>
<br>
Cheers<br>